@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url(#{'"{{ "#{$file_name}.woff2" | asset_url }}"'}) format("woff2"),
      url(#{'"{{ "#{$file_name}.woff" | asset_url }}"'}) format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@include font("GT Super Text", GT-Super-Text-Book, 400, normal);

@include font("GT Super Display", GT-Super-Display-Light, 300, normal);
@include font("GT Super Display Italic", GT-Super-Display-Light-Italic, 300, italic);

@include font("Platform", Platform-Medium-Web, 500, normal);