@import "variables.scss";
@import "mixins.scss";
@import "media.scss";
@import "reset.scss";
@import "fonts.scss";


body {
	display: flex;
	flex-direction: column;
	font: 400 14px/1.3 $font-primary;
	color: $color-text-primary;
	background-color: $color-background-primary;
	overflow-x: hidden;
}

main {
	flex: 1 1 auto;
}

.h0, .h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
	font-family: $font-secondary;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

a {
	outline: none;
  color: inherit;

	&:hover,
	&:focus,
	&:active {
		opacity: 0.7;
	}
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
	outline: none !important;
}

img {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

section {
  overflow-x: hidden;
}

.section-spaced {
  padding: 80px 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.hidden {
  display: none;
}

.title {
  font-size: 80px;
  line-height: 1;
  text-align: center;
  margin-bottom: 60px;
}

.link {
  font: 500 12px/1 $font-quaternary;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}


@include portrait-phone {

  .section-spaced {
    padding: 60px 0;
  }

  .container {
    padding: 0 10px;
  }

  .title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}