/* FONTS */
$font-primary: "GT Super Text", Arial, sans-serif;
$font-secondary: "GT Super Display", Arial, serif;
$font-tertiary: "GT Super Display Italic", Arial, serif;
$font-quaternary: "Platform", Arial, sans-serif;

/* COLORS */
$color_primary: #85ABBD;
$color_secondary: #E3FF21;
$color_tertiary: #00966E;
$color_quaternary: #BF91C4;

$color-text-primary: #000;
$color-text-secondary: #fff;

$color-background-primary: #F4EDE5;