<header data-section-type="header" data-section-id="{{ section.id }}">
  <div class="relative bg-white">
    <div class="mx-auto px-4 sm:px-6">
      <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10 gap-x-5">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          {% render 'logo' %}
        </div>
        <div class="flex items-center justify-end md:flex-1 lg:w-0">
          <p>
            Items:
            <strong data-cart-render="item_count"></strong>
            Total:
            <strong data-cart-render="total_price_money_with_currency"></strong>
          </p>
          <button type="button" class="ml-4" data-cart-open-close>
            <svg
              class="h-6 w-6 text-black"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="9" cy="21" r="1" />  <circle cx="20" cy="21" r="1" />  <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6" />
            </svg>
          </button>
          <button
            class="ml-4 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"
            data-cart-clear
          >
            Clear
          </button>
        </div>
      </div>
    </div>
    <div class="mx-auto" data-cart-view="data-cart-view">
      <div class="overflow-x-auto relative">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="py-3 px-6">Item</th>
              <th scope="col" class="py-3 px-6">Price</th>
              <th scope="col" class="py-3 px-6">Qty</th>
              <th scope="col" class="py-3 px-6">Line Price</th>
              <th scope="col" class="py-3 px-6">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              rv-show="cart.item_count | lt 1"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
            >
              <td class="py-4 px-6">You don't have any items in your cart.</td>
            </tr>
            <tr
              rv-each-item="cart.items"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
            >
              <th
                rv-text="item.title"
                scope="row"
                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              ></th>
              <td
                rv-html="item.price | money Currency.currentCurrency"
                class="py-4 px-6"
              ></td>
              <td class="py-4 px-6">
                <div class="flex gap-3 items-center justify-start">
                  <a
                    href="#"
                    rv-data-cart-update="index | plus 1"
                    rv-data-cart-quantity="item.quantity | minus 1"
                    class="border rounded-md shadow-sm p-2"
                  >
                    <svg
                      class="h-4 w-4 text-black"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z"/><line x1="5" y1="12" x2="19" y2="12" />
                    </svg>
                  </a>
                  <span rv-text="item.quantity"></span>
                  <a
                    href="#"
                    rv-data-cart-update="index | plus 1"
                    rv-data-cart-quantity="item.quantity | plus 1"
                    class="border rounded-md shadow-sm p-2"
                  >
                    <svg
                      class="h-4 w-4 text-black"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" />
                    </svg>
                  </a>
                </div>
              </td>
              <td
                rv-html="item.line_price | money Currency.currentCurrency"
                class="py-4 px-6"
              ></td>
              <td class="py-4 px-6">
                <a href="#" rv-data-cart-remove="index | plus 1">Remove</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="swiper bg-indigo-600 text-white text-center">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header"
  }
{% endschema %}
